/* ------------------------------- Colors */

.bg-color-orange-dark
{
    background-color: #ff5d00;
}

.bg-color-orange-medium
{
    background-color: #ff8322;
}

.bg-color-orange-light
{
    background-color: #ffa055;
}

/* ------------------------------- Text boxes */

.keyText
{
    border: 2px;
	border-color: #98d9ea; /* light blue */
    background-color: #ffc90e; /*light orange*/
    border-radius: 4px;
}

/* Style the Make Post page */ 

.makePostText
{
	border: 2px;
	border-color: #98d9ea; /* light blue */
    background-color: #ffc90e; /*light orange*/
    border-radius: 4px;
}

/* a buffer will help with spacing page elements */
.bufferSmall
{
	height: 20px;
	background-color: #ff5d00;
}

.bufferSmallMed
{
	height: 20px;
	background-color: #ff8322;
}

.bottomSection
{
	height: 170px;
}

/* Style the cells that hold user messages and photos on newsfeed page */
.cellButtons
{
	font-size: 180%;
	color: #ffd4c4;
	
}

/* 5 pixels of space between each of the buttons */
.cellButtons i
{
	padding: 5px;
}

/* Make the buttons reactive to user hover with mouse cursor */
.cellButtons i:hover
{
  color: red;
}

.postCell
{
	border-radius: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
}

.cellImage
{
	border-radius: 25px;
}

.headingArea
{
	font-size: 180%;
	color: white;
}

.textArea
{
	font-size: 120%;
	color: white;
	font-style: italic;
}

/* Style for navbar at top of each page */

.navbarIcon
{
    font-size: 220%;
	color: orange;
}

.welcomText
{
	font-size: 220%;
	color: #ffc90e;
}

/* Style settings screen */
.settings
{
	background-color: #ff5d00; /*dark orange*/
	font-size: 110%;
	color: white;
}

/* a buffer will help with spacing page elements */
.buffer
{
	height: 50px;
	background-color: #ff5d00;
}

.border
{
    border-width: thick;
}

.center
{
    text-align: center;
}